.nav {
  background-color: #2C3E50;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.logo_nav {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.line_height_nav {
  line-height: 70px;
}

.btn_nav_style {
  color: white;
  font-weight: bold;
  background-color: #1ABC9C;
}
.btn_nav_style:hover {
  background-color: #148F77;
  color: white;
}
.btn .glyphicon {
  vertical-align: text-top;
}

.debug_y {
  background-color: yellow;
  height: 600px;
  position: relative;
  margin-top: 70px;
}

.main_header_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h2_title {
  margin-top: 100px;
}

.portfolio_section {
  background-color: green;
  margin-top: 30px;
  border-radius: 2%;
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_bot_100 {
  margin-bottom: 100px;
}

.about_section {
  background-color: yellow;
}

.about_content {
  padding-bottom: 100px;
}

.footer_top {
  background-color: blue;
}

.footer_bot {
  background-color: darkblue;
  text-align: center;
  color: white;
  height: 50px;
  line-height: 50px;
}
