/* header */
/* navbar */

.nav {
  background-color: #2C3E50;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.logo_nav {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.line_height_nav {
  line-height: 70px;
}

.btn_nav_style {
  color: white;
  font-weight: bold;
  background-color: #1ABC9C;
}
.btn_nav_style:hover {
  background-color: #148F77;
  color: white;
}
.btn .glyphicon {
  vertical-align: text-top;
}

/* contenuto principale header */

.main_header {
  background-color: #1ABC9C;
  margin-top: 70px;
  padding: 90px 0;
  color: white;
}
.main_header p {
  font-size: 25px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

.divider {
  margin-bottom: 20px;
}

.divider hr {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
  border: none;
  height: 4px;
  background: white;
  border-radius: 2px;
}
.divider i {
  vertical-align: middle;
  margin: 0 20px;
  font-size: 30px;
}

.main_header_img {
  height: 250px;
}

/* inizio main */

.h2_title {
  margin-top: 100px;
}

.portfolio_section {
  margin-top: 30px;
  border-radius: 3%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_1 {
  background-image: url("../img/cabin.png");
}

.bg_2 {
  background-image: url("../img/cake.png");
}

.bg_3 {
  background-image: url("../img/circus.png");
}

.bg_4 {
  background-image: url("../img/game.png");
}

.bg_5 {
  background-image: url("../img/safe.png");
}

.bg_6 {
  background-image: url("../img/submarine.png");
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_bot_100 {
  margin-bottom: 100px;
}

.about_section {
  background-color: yellow;
}

.about_content {
  padding-bottom: 100px;
}

.footer_top {
  background-color: blue;
}

.footer_bot {
  background-color: darkblue;
  text-align: center;
  color: white;
  height: 50px;
  line-height: 50px;
}

/* media query */


@media screen and (max-width: 1200px) {
  .portfolio_section {
    height: 200px;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 50px;
  }

  .main_header p {
    font-size: 20px;
  }

  .portfolio_section {
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio_section {
    width: 390px;
    margin: 30px auto;
  }
}
